#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

# Change working directory to the top-most Finder window location
function cdf() { # short for `cdfinder`
	cd "$(osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)')";
}

function cleanpip() {
  pip freeze | xargs pip uninstall -y
}

function startdt() {
  bash --login '/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh'
}

function stopdocker() {
  docker stop $(docker ps -aq)
}

function killdocker() {
  echo 'This is the Docker Master Obliterator ;)'
  {
    docker stop $(docker ps -aq)
    docker rm $(docker ps -aq)
    docker rmi $(docker image ls -q)
    docker volume rm $(docker volume ls -q)
    docker network rm $(docker network ls -q)
  } &> /dev/null
  echo 'Done.'
  echo 'Rebuilding image.'
  docker-compose build
  echo 'Finished!'
}

function http2ssh() {
  #-- Script to automate https://help.github.com/articles/why-is-git-always-asking-for-my-password
  REPO_URL=`git remote -v | grep -m1 '^origin' | sed -Ene's#.*(https://[^[:space:]]*).*#\1#p'`
  if [ -z "$REPO_URL" ]; then
    echo "-- ERROR:  Could not identify Repo url."
    echo "   It is possible this repo is already using SSH instead of HTTPS."
    exit
  fi

  USER=`echo $REPO_URL | sed -Ene's#https://github.com/([^/]*)/(.*).git#\1#p'`
  if [ -z "$USER" ]; then
    echo "-- ERROR:  Could not identify User."
    exit
  fi

  REPO=`echo $REPO_URL | sed -Ene's#https://github.com/([^/]*)/(.*).git#\2#p'`
  if [ -z "$REPO" ]; then
    echo "-- ERROR:  Could not identify Repo."
    exit
  fi

  NEW_URL="git@github.com:$USER/$REPO.git"
  echo "Changing repo url from "
  echo "  '$REPO_URL'"
  echo "      to "
  echo "  '$NEW_URL'"
  echo ""

  CHANGE_CMD="git remote set-url origin $NEW_URL"
  `$CHANGE_CMD`

  echo "Success"
}


function smartresize() {
  #-- Script to do optimized image resizing https://www.smashingmagazine.com/2015/06/efficient-image-resizing-with-imagemagick/
  #-- Ex: smartresize inputdir/*.png outputdir/
   mogrify -path "$2" -filter Triangle -define filter:support=2 -unsharp 0.25x0.08+8.3+0.045 -dither None -posterize 136 -quality 82 -define jpeg:fancy-upsampling=off -define png:compression-filter=5 -define png:compression-level=9 -define png:compression-strategy=1 -define png:exclude-chunk=all -interlace none -colorspace sRGB "$1"
}

# `c` clears the terminal
function c() {
	clear;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
	tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}
